.GroupProfile {

    .detail {
        .img {
            background: url("../../Assets/img/tie-400.jpg") no-repeat center;
        }

        .group-users {
            display: flex;
            width: 75px;
            height: 75px;
            margin: 0 auto;
            border: 1px solid lightgrey;
            color: black;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 50%;
            text-decoration: none;

            &:hover {
                border-color: black;
            }

            h6 {
                margin: 0;
                margin-top: 5px;
            }
        }

        .invite-user {
            display: flex;
            justify-content: center;
            margin: 15px 0 25px;
        }
    }

    .post {
        position: relative;

        .info-delete {
            display: flex;
            align-items: flex-end;

            button {
                margin-left: 15px;
                font-size: 9px;
                line-height: 1.7;
                padding: 0.5px 5px;
            }
        }
    }
}
