@model SocialNetworkBL.DataTransferObjects.UserDto

<div class="UserSettings">
    @using (Html.BeginForm("SaveSettings", "Users", FormMethod.Post))
    {
        <div class="form-group">

            @Html.EditorFor(x => x.ProfileDescription, new
            { htmlAttributes =
                new
                {
                    @class = "form-control",
                    placeholder = "Your profile description"
                }
            })
            @Html.HiddenFor(model => model.NickName)

        </div>

        <button class="btn btn-primary" type="submit">Save</button>
    }
</div>


