body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.body-content {
    padding: 25px 0;
}

input, button {
    border-radius: 0 !important;
}

a.btn {
    border-radius: 0;
}

//sidebar
.sidebar {
    padding: 0 !important;
    border: 1px lightgray solid;

    h4 {
        padding: 15px 10px 5px;
    }

    @mixin sponsor-img($name) {
        height: 250px;
        margin-bottom: 15px;
        background-size: cover;
        background: url("../../Assets/img/#{$name}-400.jpg") no-repeat center;
    }

    .tie {
        @include sponsor-img(tie);
    }

    .clouds {
        @include sponsor-img(clouds);
    }

    .axe {
        @include sponsor-img(axe);
    }

    .sea {
        @include sponsor-img(sea);
        height: 200px;
    }

    .city {
        @include sponsor-img(city);
    }

    .road {
        @include sponsor-img(road);
    }
}

//Profiles
.UserProfile, .GroupProfile {

    .detail {
        position: relative;
        padding: 0 !important;
        border: 1px lightgray solid;

        .profile {
            padding: 75px 0px 15px;
            text-align: center;

            .profile-picture {
                top: 80px;
                left: 50%;
                transform: translate(-50%, 0);
                height: 125px;
                width: 125px;
            }
        }

        .img {
            height: 150px;
            background-size: cover;
        }
    }

    .posts-column {
        @media screen and (max-width: 991px) {
            margin-top: 25px;
        }

        .add-post {
            margin-bottom: 20px;

            .checkbox-under-search-btn {
                display: flex;
                align-items: center;
                margin: 5px 0 0;

                input[type="checkbox"] {
                    margin: 0;
                    margin-right: 5px;
                }

                .label-checkbox {
                    margin: 0;
                    font-weight: 300;
                    color: grey;
                }
            }

            .form-inline {
                margin-bottom: 15px;

                .btn, .form-control {
                    border-radius: 0;
                    border-color: lightgray;
                }
            }
        }
    }
}


//Managements
.FriendManagement, .GroupManagement, .InviteUsersToGroup, .GroupUsers {

    .form-search {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        .form-group {
            width: 100%;
            margin-bottom: 0;
        }
    }

    table {
        tr {
            border: 1px solid #d3d3d3;
            padding: 10px;
            display: table-caption;
            margin-bottom: 15px;
            margin-right: 15px;
        }

        th, td {
            vertical-align: middle !important;
            border: none !important;
        }

        tbody {
            display: flex;
            flex-wrap: wrap;

            th {
                display: flex;
                align-items: center;
            }
        }
    }
}

//Managements-profiles
.FriendManagement, .GroupManagement {

    table {
        .profile-picture {
            position: relative;
            width: 45px;
            height: 45px;
            margin-right: 15px;
        }
    }
}

//posts
.post-container {
    margin-bottom: 20px;
    border: 1px lightgray solid;

    .posts {
        padding: 15px 30px 15px 10px !important;

        .post {
            display: flex;
            padding-bottom: 15px;

            &:not(:last-child) {
                border-bottom: 1px lightgray solid;
                margin-bottom: 15px;
                padding-bottom: 40px;
            }

            .profile-picture {
                position: relative;
                top: 9px;
                height: 50px;
                min-width: 50px;
            }

            .content {
                width: 100%;
                padding-left: 15px;

                & > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                }

                .message {
                    word-break: break-word;
                }

                .images {
                }
            }
        }
    }
}

//send comment
.send-comment {

    form {
        width: 100%;
    }
}


//comments
.comments {
    padding-left: 0 !important;
    padding-top: 15px !important;

    .comment {
        display: flex;
        border-top: 1px solid lightgrey;
        padding: 15px 0;
    }
}


//search button
.search-btn {
    display: flex;
    justify-content: space-between;

    .form-control {
        border-right: none;
    }
}


//profile picture
.profile-picture {
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-color: lightcoral;
}

//botstrap navbar

.my-navbar {
    background-color: white !important;
    border-color: aliceblue !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: cadetblue !important;
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: dimgray !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: grey !important;
}
