body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

.body-content {
    padding: 25px 0;
}

input, button {
    border-radius: 0 !important;
}

//profile picture

.profile-picture {
    position: absolute;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

//botstrap navbar

.my-navbar {
    background-color: white !important;
    border-color: aliceblue !important;
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    background-color: cadetblue !important;
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: dimgray !important;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black !important;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: grey !important;
}
