@using System.Web.Mvc.Html
@using X.PagedList.Mvc

@model SocialNetworkPL.Models.PostsListViewModel

    @{
        ViewBag.Title = "PostListView";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

<h2>PostListView</h2>

    <div>
        @{foreach (var post in Model.Posts)
            {
                @post.Text
            }
        }
    </div>

