.FriendManagement {

    .form-search {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        .form-group {
            width: 100%;
            margin-bottom: 0;
        }
    }

    table {
        tr {
            border: 1px solid #d3d3d3;
            padding: 10px;
            display: table-caption;
            margin-bottom: 15px;
            margin-right: 15px;
        }

        th, td {
            vertical-align: middle !important;
            border: none !important;
        }

        tbody {
            display: flex;
            flex-wrap: wrap;

            th {
                display: flex;
                align-items: center;
            }
        }

        .profile-picture {
            position: relative;
            width: 45px;
            height: 45px;
            margin-right: 15px;
        }
    }
}
