.FriendManagement {

    .form-search {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;

        .form-group {
            width: 100%;
            margin-bottom: 0;
        }
    }

    table th {
        vertical-align: middle !important;
    }
}
