.UserProfile {

    .detail {
        position: relative;
        padding: 0 !important;
        border: 1px lightgray solid;

        .profile {
            padding: 75px 0px 15px;
            text-align: center;

            .profile-picture {
                top: 80px;
                left: 50%;
                transform: translate(-50%, 0);
                height: 125px;
                width: 125px;
            }
        }

        .img {
            height: 150px;
            background: url("../../Assets/img/background.jpeg") no-repeat center;
            background-size: cover;
        }
    }

    .sidebar {
        padding: 0 !important;
        border: 1px lightgray solid;

        h4 {
            padding: 15px 10px 5px;
        }

        .sea {
            height: 250px;
            margin-bottom: 15px;
            background: url("../../Assets/img/sea-400.jpg") no-repeat center;
            background-size: cover;
        }
    }

    .post-container {
        margin-bottom: 25px;
        border: 1px lightgray solid;

        .posts {
            padding: 15px 30px 15px 10px !important;

            .post {
                display: flex;

                &:not(:last-child) {
                    border-bottom: 1px lightgray solid;
                    margin-bottom: 25px;
                    padding-bottom: 15px;
                }

                .profile-picture {
                    position: relative;
                    top: 6px;
                    height: 50px;
                    min-width: 50px;
                }

                .content {
                    width: 100%;
                    padding-left: 15px;

                    & > div {
                        display: flex;
                        justify-content: space-between;
                        align-items: baseline;
                    }

                    .message {
                    }

                    .images {
                    }
                }
            }
        }
    }

    .add-post {
        .search-btn {
            display: flex;
            justify-content: space-between;

            .form-control {
                border-right: none;
            }
        }

        .checkbox-under-search-btn {
            display: flex;
            align-items: center;
            margin: 5px 0 20px;

            input[type="checkbox"] {
                margin: 0;
                margin-right: 5px;
            }

            .label-checkbox {
                margin: 0;
                font-weight: 300;
                color: grey;
            }
        }

        .form-inline {
            margin-bottom: 15px;

            .btn, .form-control {
                border-radius: 0;
                border-color: lightgray;
            }
        }
    }
}
