@model SocialNetworkPL.Models.PostListModel

@{
    ViewBag.Title = "PostListView";
}

@{
    foreach (var post in Model.Posts)
    {
        <div class="row">
            <div class="col-md-6 post">
                <div class="profile-img"></div>
                <div class="content">
                    <div>
                        <small>@post.PostedAt</small>
                    </div>
                    <p class="message">
                        @post.Text
                    </p>
                    <div class="images"></div>
                </div>
            </div>
        </div>
    }
}
