.UserProfile {

    .detail {
        position: relative;
        padding: 0 !important;
        border: 1px lightgray solid;

        .profile {
            padding: 75px 0px 15px;
            text-align: center;

            .profile-picture {
                top: 80px;
                left: 50%;
                transform: translate(-50%, 0);
                height: 125px;
                width: 125px;
            }
        }

        .img {
            height: 150px;
            background: url("../../Assets/img/background-400.jpg") no-repeat center;
            background-size: cover;
        }
    }

    .posts-column {
        @media screen and (max-width: 991px){
            margin-top: 25px;
        }

        .add-post {

            .checkbox-under-search-btn {
                display: flex;
                align-items: center;
                margin: 5px 0 20px;

                input[type="checkbox"] {
                    margin: 0;
                    margin-right: 5px;
                }

                .label-checkbox {
                    margin: 0;
                    font-weight: 300;
                    color: grey;
                }
            }

            .form-inline {
                margin-bottom: 15px;

                .btn, .form-control {
                    border-radius: 0;
                    border-color: lightgray;
                }
            }
        }
    }
}
