body {
  padding-bottom: 20px;
  padding-top: 50px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
.body-content {
  padding: 25px 0; }

input, button {
  border-radius: 0 !important; }

.sidebar {
  padding: 0 !important;
  border: 1px lightgray solid; }
  .sidebar h4 {
    padding: 15px 10px 5px; }
  .sidebar .sea {
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    background: url("../../Assets/img/sea-400.jpg") no-repeat center;
    height: 200px; }
  .sidebar .city {
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    background: url("../../Assets/img/city-400.jpg") no-repeat center; }
  .sidebar .road {
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    background: url("../../Assets/img/road-400.jpg") no-repeat center; }

.post-container {
  margin-bottom: 25px;
  border: 1px lightgray solid; }
  .post-container .posts {
    padding: 15px 30px 15px 10px !important; }
    .post-container .posts .post {
      display: flex;
      padding-bottom: 15px; }
      .post-container .posts .post:not(:last-child) {
        border-bottom: 1px lightgray solid;
        margin-bottom: 25px;
        padding-bottom: 40px; }
      .post-container .posts .post .profile-picture {
        position: relative;
        top: 9px;
        height: 50px;
        min-width: 50px; }
      .post-container .posts .post .content {
        width: 100%;
        padding-left: 15px; }
        .post-container .posts .post .content > div {
          display: flex;
          justify-content: space-between;
          align-items: baseline; }

.send-comment form {
  width: 100%; }

.comments {
  padding-left: 0 !important;
  padding-top: 15px !important; }
  .comments .comment {
    display: flex;
    border-top: 1px solid lightgrey;
    padding: 15px 0; }

.search-btn {
  display: flex;
  justify-content: space-between; }
  .search-btn .form-control {
    border-right: none; }

.profile-picture {
  position: absolute;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  background-color: lightcoral; }

.my-navbar {
  background-color: white !important;
  border-color: aliceblue !important; }

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
  background-color: cadetblue !important;
  color: #ffffff !important; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: dimgray !important; }

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: black !important; }

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background-color: grey !important; }

.FriendManagement .form-search {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px; }
  .FriendManagement .form-search .form-group {
    width: 100%;
    margin-bottom: 0; }

.FriendManagement table tr {
  border: 1px solid #d3d3d3;
  padding: 10px;
  display: table-caption;
  margin-bottom: 15px;
  margin-right: 15px; }

.FriendManagement table th, .FriendManagement table td {
  vertical-align: middle !important;
  border: none !important; }

.FriendManagement table tbody {
  display: flex;
  flex-wrap: wrap; }
  .FriendManagement table tbody th {
    display: flex;
    align-items: center; }

.FriendManagement table .profile-picture {
  position: relative;
  width: 45px;
  height: 45px;
  margin-right: 15px; }

.UserProfile .detail {
  position: relative;
  padding: 0 !important;
  border: 1px lightgray solid; }
  .UserProfile .detail .profile {
    padding: 75px 0px 15px;
    text-align: center; }
    .UserProfile .detail .profile .profile-picture {
      top: 80px;
      left: 50%;
      transform: translate(-50%, 0);
      height: 125px;
      width: 125px; }
  .UserProfile .detail .img {
    height: 150px;
    background: url("../../Assets/img/background-400.jpg") no-repeat center;
    background-size: cover; }

@media screen and (max-width: 991px) {
  .UserProfile .posts-column {
    margin-top: 25px; } }

.UserProfile .posts-column .add-post .checkbox-under-search-btn {
  display: flex;
  align-items: center;
  margin: 5px 0 20px; }
  .UserProfile .posts-column .add-post .checkbox-under-search-btn input[type="checkbox"] {
    margin: 0;
    margin-right: 5px; }
  .UserProfile .posts-column .add-post .checkbox-under-search-btn .label-checkbox {
    margin: 0;
    font-weight: 300;
    color: grey; }

.UserProfile .posts-column .add-post .form-inline {
  margin-bottom: 15px; }
  .UserProfile .posts-column .add-post .form-inline .btn, .UserProfile .posts-column .add-post .form-inline .form-control {
    border-radius: 0;
    border-color: lightgray; }

