@using Castle.Core.Internal
@model SocialNetworkPL.Models.FindUsersModel

@if (User.Identity.IsAuthenticated)
{
    <div class="FriendManagement col-md-7">
        @using (Html.BeginForm("Index", "UsersManager", FormMethod.Get, new { @class = "form-search" }))
        {
            <div class="form-group">

                @Html.TextBox("subname", null, new
                {
                    @class = "form-control",
                    id = "search-subname",
                    placeholder = "Search for a user with given name..."
                })

            </div>

            <button class="btn btn-primary" type="submit">Find</button>
        }

        <table class="table">
            <tbody>
                @foreach (var user in Model.Users)
                {
                    if (user.NickName != Model.User.NickName)
                    {
                        <tr>
                            <th scope="row">
                                @{ var pathToImg = "../../Assets/img/girl-" + user.Id + "-400.jpg";}
                                <div class="profile-picture" style="background-image: url(@pathToImg)"></div>
                                @Html.ActionLink(user.NickName, "Index", "UserProfile", new { nickName = user.NickName }, null)
                            </th>

                            <td>
                                @if (!Model.User.Friends.Where(x => !x.IsAccepted && x.User2Id == user.Id).IsNullOrEmpty())
                                {
                                    <input type="submit" value="Waiting for confirmation" class="btn btn-default" />
                                }
                                else if (!Model.User.Friends.Where(x => !x.IsAccepted && x.User1Id == user.Id).IsNullOrEmpty())
                                {
                                    using (Html.BeginForm("AcceptFriend", "UsersManager", new { friendId = user.Id }, FormMethod.Post, null))
                                    {
                                        <input type="submit" value="Accept friendship" class="btn btn-success" />
                                    }
                                }
                                else if (!Model.User.Friends.Where(x => x.IsAccepted && (x.User1Id == user.Id || x.User2Id == user.Id)).IsNullOrEmpty())
                                {
                                    //remove friend in the future
                                    <input type="submit" value="Already friends" class="btn btn-default" />
                                }
                                else
                                {
                                    using (Html.BeginForm("AddFriend", "UsersManager", new { id = user.Id }, FormMethod.Post, null))
                                    {
                                        <input type="submit" value="Add friend" class="btn btn-primary" />
                                    }
                                }

                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4 pull-right sidebar">
        <div class="city"></div>
        <blockquote>
            <footer>Existuje mnoho variant s pasážemi Lorem Ipsum, nicméně valná většina trpí neduhy v podobě snahy o vtipný text či použití naprosto náhodných slov, což nevypadá zrovna uvěřitelně.</footer>
        </blockquote>
    </div>
    <div class="clearfix"></div>
}