@using Castle.Core.Internal
@model SocialNetworkPL.Models.FindGroupsModel

@if (User.Identity.IsAuthenticated)
{
    <div class="GroupManagement col-md-7">
        @using (Html.BeginForm("Index", "GroupsManager", FormMethod.Get, new { @class = "form-search" }))
        {
            <div class="form-group">

                @Html.TextBox("subname", null, new
           {
               @class = "form-control",
               id = "search-subname",
               placeholder = "Search for a group with given name..."
           })

            </div>

            <button class="btn btn-primary" type="submit">Find</button>
        }

        <div class="create-group">
            @Html.ActionLink("Create Group", "CreateGroup", "GroupsManager", FormMethod.Get, new { @class = "btn btn-primary" })
        </div>

        <table class="table">
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr>
                        <th scope="row">
                            @{ var pathToImg = "../../Assets/img/group-" + group.Id + "-400.jpg"; }
                            <div class="profile-picture" style="background-image: url(@pathToImg)"></div>
                            @Html.ActionLink(group.Name, "Index", "GroupProfile", new { groupId = group.Id }, null)
                        </th>

                        <td>
                            @if (!Model.User.Groups.Where(groupUser => !groupUser.IsAccepted && groupUser.Group.Id == group.Id).IsNullOrEmpty())
                            {
                                @Html.ActionLink("Accept invitation", "AcceptInvitation", new { groupId = group.Id, userId = Model.User.Id }, new { @class = "btn btn-success" })
                            }
                            else if (!Model.User.Groups.Where(groupUser => groupUser.IsAccepted && groupUser.IsAdmin == true && groupUser.Group.Id == group.Id).IsNullOrEmpty())
                            {
                                <input type="submit" value="Admin" class="btn btn-default" />
                            }
                            else if (!Model.User.Groups.Where(groupUser => groupUser.IsAccepted && groupUser.IsAdmin == false && groupUser.Group.Id == group.Id).IsNullOrEmpty())
                            {
                                <input type="submit" value="Already a member" class="btn btn-default" />
                            }
                            else
                            {
                                if (!group.IsPrivate)
                                {
                                    using (Html.BeginForm("BecomeMember", "GroupsManager", new { groupId = group.Id }, FormMethod.Post, null))
                                    {
                                        <input type="submit" value="Become a member" class="btn btn-primary" />
                                    }
                                }
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="col-md-4 pull-right sidebar">
        <div class="axe"></div>
        <blockquote>
            <footer>Existuje mnoho variant s pasážemi Lorem Ipsum, nicméně valná většina trpí neduhy v podobě snahy o vtipný text či použití naprosto náhodných slov, což nevypadá zrovna uvěřitelně.</footer>
        </blockquote>
    </div>

    <div class="clearfix"></div>
}